DATABASE_URL=postgresql://nuvem:changeme@localhost:5432/nuvem

NODE_ENV=development
PORT=8000

BETTER_AUTH_SECRET="replace-this-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:8000"

# Set both Google credentials to enable Google sign-in.
GOOGLE_CLIENT_ID="726149015078-6b6hquc9lakj9k1jl7g91dccq3g19kkp.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET=""
