# DB
DATABASE_URL=postgresql://nuvem:changeme@localhost:5432/nuvem

# App
NODE_ENV=development
PORT=8000

# Auth
BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:8000"

# Google Auth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""